html, body {
    height: 100%;
    overflow: hidden
}

body {
    background-color: darkgrey;
}

#box {
    width: 2000px;
    height: 1000px;
    border: 3px solid black;
    overflow: hidden;
    margin: auto;
    cursor: none;
}

#backgroundImage {
    position: relative;
    user-select: none;
}

#bodyguard {
    position: relative;
    user-select: none;
}

#crosshair {
    position: absolute;
    top: 650px;
    left: 1050px;
    user-select: none;
    pointer-events: none;
}

p {
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 15px;
    position: relative;
    bottom: 400px;
}

#ak47-div {
    background-image: url("stillak47.png");
    background-size: cover;
    width: 700px;
    height: 400px;
    position: relative;
    bottom: 350px;
    left: 1500px;
}